textarea {
  resize: none;
}

div.table-holder {
  box-shadow: 0 0 10px #ccc;
  padding: 5px;
}

div.action-container {
  box-shadow: 0 0 15px #ccc;
  padding: 10px;
  color: #000;
}

div.action-container:hover {
  background-color: #f7f7f7;
}

a:hover {
  text-decoration: none;
}
