div.dark-about-card {
  box-shadow: 0 0 5px #ccc;
  background-color: #07004E;
  color: #fff;
  padding: 10px;
}

div.light-about-card {
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}

h2.simplicity {

}

h2.lightning-quick {

}
