ul.blog-posts {
  list-style: none;
}

ul.blog-posts > li.blog-item {
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
}

div.blog-single-post {
  padding: 10px;
  box-shadow: 0 0 3px #cdcdcd;
  border-radius: 5px;
  margin: 25px;
}

p.single-post-content {
  line-height: 2em;
  margin-top: 15px;
  font-weight: 100;
}

a.back-to-blog {
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
